# node_modules
node_modules/

# env
.env

# 로그 파일 제외
logs/
*.log

# backups
*_bak.*
*.bak.js
*.js.bak
_bak/

# docs
docs/

# temp
temp/

# scripts
scripts/*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp
*.swo